@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-dark-text font-sans antialiased;
}

.container-custom {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.section-padding {
  @apply py-20 lg:py-32;
}

.btn-primary {
  @apply bg-accent-yellow text-white font-bold py-3 px-8 rounded-lg hover:bg-black transition-all uppercase tracking-widest text-sm shadow-lg;
}