@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

.glass-panel {
  @apply bg-white backdrop-blur-xl border border-slate-200 shadow-soft;
}


